/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 600px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  background-color: white;

}
#bovenkantlinks{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   width: 35%;
   height: 80%;
   background-color: red;
}
#bovenkantrechts{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 55%;
    height: 80%;
    background-color: red;
}
#onderkant{
    width: 800px;
    height: 250px;
    background-color: white;
}
#onderkant{
    width: 800px;
    height: 250px;
    background-color: white;
}
#onderkant{
    width: 800px;
    height: 250px;
    background-color: white;
}



